body {
  background:#F5DFB3;
}

header{
  text-align: center;
  background:#F5DFB3;
}

#about {
  background:#8FBC8E;
  height:700px;
}

#content {
  background:#E6E6E6;
  height: 700px;
}

img {
  float:right;
}
